{
  "API_KEY": "",
  "API_USER": "",
  "INCREMENTAL_UPDATE_ENABLED": true,
  "INCREMENTAL_UPDATE_INTERVAL": 5,
  "INCREMENTAL_SKIP_CHANCE": 0.1,
  "API_CALLS_DAILY_LIMIT": 100000,
  "MAX_API_CALL_TRIES": 3,
  "API_CALL_PAUSE_ON_ERROR": 5,
  "CALL_COUNTERS_RETAIN": 7
}